<head>

  <meta charset="utf-8">
  <title>{{if .Title}}{{.Title}} - {{end}}{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Params.Author }}">

  <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">

  <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href="https://fonts.cdnfonts.com/css/narita-monospace" rel="stylesheet">


  <link href="/css/mystyles.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/style.css" media="screen, projection" rel="stylesheet" type="text/css">

</head>
