body {
    zoom: 75%;
}

.footer a {
    color: #222222
}
hr {
    background-color: #e9e9e9
}

.highlight {
  padding-bottom: 50px;
  font-size: 0.875em;
  font-family: 'Narita Monospace', code-block;
  font-family: code-block;
}
