{{ define "main" }}
  <section class="section is-small">

    {{ if .Title }}
    <div class="hero is-bold has-text-centered-left">
      <div class="hero-body">
          <div class="content container is-size-4">
             <h1 class="title is-1">{{ .Title }}</h1>
          </div>
      </div>
    </div>
    {{ end }}

    <section class="hero is-default is-bold">
      <div class="hero-body">
          <div class="content container is-size-3 is-sans-serif">
             {{ .Content}}
          </div>
      </div>
    </section>

    <section class="hero is-default is-bold">
      <div class="hero-body">
        <div class="content container is-size-5 is-sans-serif">
          <h1 class="title is-1">Most recent posts</h1>
          <hr>
          {{ range first 6 .Site.RegularPages }}
            {{ .Render "summary" }}
          {{ end }}
        </div>
      </div>
    </section>

  </section>
{{ end }}
